In [1]:
import get_geolocation_for_addresses
import utils

In [2]:
doctors_df = get_geolocation_for_addresses.get_doctors_with_lat_long()
doctors_df['name'] = doctors_df['first_name'] + ' ' + doctors_df['last_name']
doctors_df['rounded_lat_lng'] = doctors_df['lat'].round(decimals=3).astype(str) + ',' + \
                                 doctors_df['lng'].round(decimals=3).astype(str)

In [3]:
doctors_grouped_by_location = doctors_df.groupby('rounded_lat_lng', as_index=False)
doctors_grouped_by_location.describe()

     cpso                                                                \
    count     mean           std      min       25%      50%        75%
0     1.0  96828.0           NaN  96828.0  96828.00  96828.0   96828.00
1     2.0  97099.5  15606.553768  86064.0  91581.75  97099.5  102617.25
2     1.0  61230.0           NaN  61230.0  61230.00  61230.0   61230.00
3     1.0  83872.0           NaN  83872.0  83872.00  83872.0   83872.00
4     1.0  74910.0           NaN  74910.0  74910.00  74910.0   74910.00
..    ...      ...           ...      ...       ...      ...        ...
114   1.0  84863.0           NaN  84863.0  84863.00  84863.0   84863.00
115   1.0  90274.0           NaN  90274.0  90274.00  90274.0   90274.00
116   1.0  68439.0           NaN  68439.0  68439.00  68439.0   68439.00
117   1.0  27336.0           NaN  27336.0  27336.00  27336.0   27336.00
118   1.0  85977.0           NaN  85977.0  85977.00  85977.0   85977.00

                lat             ...                         lng              \
          max count       mean  ...        75%        max count        mean
0     96828.0   1.0  42.835040  ...  42.835040  42.835040   1.0  -80.314488
1    108135.0   2.0  42.997670  ...  42.997670  42.997670   2.0  -81.236286
2     61230.0   1.0  43.134902  ...  43.134902  43.134902   1.0  -80.748593
3     83872.0   1.0  43.158062  ...  43.158062  43.158062   1.0  -79.245988
4     74910.0   1.0  43.257947  ...  43.257947  43.257947   1.0  -79.890158
..        ...   ...        ...  ...        ...        ...   ...         ...
114   84863.0   1.0  44.258630  ...  44.258630  44.258630   1.0  -76.961390
115   90274.0   1.0  44.415328  ...  44.415328  44.415328   1.0  -79.662459
116   68439.0   1.0  44.573197  ...  44.573197  44.573197   1.0  -80.944446
117   27336.0   1.0  49.769522  ...  49.769522  49.769522   1.0  -92.840774
118   85977.0   1.0  49.873593  ...  49.873593  49.873593   1.0 -119.493866


     std         min         25%         50%         75%         max
0    NaN  -80.314488  -80.314488  -80.314488  -80.314488  -80.314488
1    0.0  -81.236286  -81.236286  -81.236286  -81.236286  -81.236286
2    NaN  -80.748593  -80.748593  -80.748593  -80.748593  -80.748593
3    NaN  -79.245988  -79.245988  -79.245988  -79.245988  -79.245988
4    NaN  -79.890158  -79.890158  -79.890158  -79.890158  -79.890158
..   ...         ...         ...         ...         ...         ...
114  NaN  -76.961390  -76.961390  -76.961390  -76.961390  -76.961390
115  NaN  -79.662459  -79.662459  -79.662459  -79.662459  -79.662459
116  NaN  -80.944446  -80.944446  -80.944446  -80.944446  -80.944446
117  NaN  -92.840774  -92.840774  -92.840774  -92.840774  -92.840774
118  NaN -119.493866 -119.493866 -119.493866 -119.493866 -119.493866

[119 rows x 24 columns]

In [4]:
offices_by_3_dec = doctors_grouped_by_location.agg({'cpso':'size', 'name': ', '.join, 'location': 'max'})
offices_by_3_dec

,rounded_lat_lng,cpso,name,location
0,"42.835,-80.314",1,Alexander David Bardon,Norfolk General Hospital Emergency Room 365 We...
1,"42.998,-81.236",2,"Richard Wesley Krukowski, Ganesh Harirama Ram",685 Adelaide Street North London ON N5Y 2L4
2,"43.135,-80.749",1,David Walter Johnson,Unit 2 695 Canterbury Street Woodstock ON N4S 8W7
3,"43.158,-79.246",1,Celeste Collins,Canadian Cannabis Clinic 4th FL 400-80 King St...
4,"43.258,-79.89",1,Rebecca Evans Steen,160 Dundurn Street South Hamilton ON L8P 4K3
...,...,...,...,...
114,"44.259,-76.961",1,Raul Augusto Vasquez,Solutions Healthcare Unit A 445 Centre St. N. ...
115,"44.415,-79.662",1,Maorong Tong,Royal Victoria Regional Health Centre Departme...
116,"44.573,-80.944",1,Debra Rosalind Dyke,Suite 2000 1415 1st Avenue West Owen Sound ON ...
117,"49.77,-92.841",1,David Francis Renner,40 Goodall St. Dryden ON P8N 2Z6
118,"49.874,-119.494",1,Stephanie Mary Boyd,Kelowna General Hospital 2268 Pandosy St. Kelo...

In [5]:
offices_6_plus = offices_by_3_dec[offices_by_3_dec['cpso'] > 5]
offices_2_to_5 = offices_by_3_dec[(1 < offices_by_3_dec['cpso']) &  (offices_by_3_dec['cpso'] <= 5)]
offices_1 = offices_by_3_dec[offices_by_3_dec['cpso'] == 1]

In [6]:
offices_6_plus.to_csv(utils.DATA_DIR / f'offices_6_plus_rounded_3.csv')
offices_2_to_5.to_csv(utils.DATA_DIR / f'offices_2_to_5_rounded_3.csv')
offices_1.to_csv(utils.DATA_DIR / f'offices_1_rounded_3.csv')

# round to 4 digits since first attempt resulted in large groups

In [7]:
ROUND_BY = 4

doctors_df = get_geolocation_for_addresses.get_doctors_with_lat_long()
doctors_df['name'] = doctors_df['first_name'] + ' ' + doctors_df['last_name']
doctors_df['rounded_lat_lng'] = doctors_df['lat'].round(decimals=ROUND_BY).astype(str) + ',' + \
                                 doctors_df['lng'].round(decimals=ROUND_BY).astype(str)

doctors_grouped_by_location = doctors_df.groupby('rounded_lat_lng', as_index=False)
doctors_grouped_by_location.describe()

offices_by_4_dec = doctors_grouped_by_location.agg({'cpso':'size', 'name': ', '.join, 'location': 'max'})

offices_6_plus = offices_by_4_dec[offices_by_4_dec['cpso'] > 5]
offices_2_to_5 = offices_by_4_dec[(1 < offices_by_4_dec['cpso']) &  (offices_by_4_dec['cpso'] <= 5)]
offices_1 = offices_by_4_dec[offices_by_4_dec['cpso'] == 1]

offices_6_plus.to_csv(utils.DATA_DIR / f'offices_6_plus_rounded_4.csv')
offices_2_to_5.to_csv(utils.DATA_DIR / f'offices_2_to_5_rounded_4.csv')
offices_1.to_csv(utils.DATA_DIR / f'offices_1_rounded_4.csv')